$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);


.app {
	display: flex;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;


	@media (max-width: 1000px) {
		align-items: flex-start;
	}

	.card {
		padding: 1em;
		background-color: $white;
		border-radius: 1em;
		display: flex;
		gap: 2em;
		box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

		@media (max-width: 1000px) {
			flex-direction: column;
			padding: 0;
			border-radius: unset;
			background-color: $magnolia;
			align-items: center;
			box-shadow: none;
		}

		.counter-mobile {
			display: flex;
			position: relative;
			justify-content: center;

			.lines-mobile {
				position: absolute;
				display: flex;
				gap: 1.8em;
				padding: 1em;


			}
		}

		.number {
			padding: 1em;
			border-radius: 50%;
			border: solid 1px $light-blue;
			width: 0.5em;
			height: 0.5em;
			display: flex;
			align-items: center;
			color: $white;

			&.current {
				background-color: $light-blue;
				color: $marine-blue;
			}
		}

		.counter {
			border-radius: 1em;
			display: flex;
			position: relative;

			.lines {
				position: absolute;
				display: flex;
				flex-direction: column;
				gap: 1.8em;
				padding: 1em;

				.line {
					display: flex;
					gap: 1em;
					align-items: center;

					.texts {
						p {
							color: $cool-gray;
							font-size: 0.9em;
						}

						h3 {
							text-transform: uppercase;
							color: $white;
						}
					}
				}
			}
		}
	}


}