$magnolia: hsl(217, 100%, 97%);

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $magnolia;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;

    }

    h3 {
        margin: 0;
    }
}



